/* Mobile - Portrait */
@media (max-width: 575px) {

  .phrase-eng,
  .phrase-fra,
  .phrase-deu,
  .phrase-spa,
  .phrase-ita,
  .phrase-rus,
  .phrase-tur {
    font-size: 15px;
  }
}

/* Mobile - Landscape */
@media (min-width: 576px) and (max-width: 767px) {
  body {
    display: none;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
  body {
    display: none;
  }
}

/* Desktop */
@media (min-width: 992px) and (max-width: 1199px) {
  body {
    display: none;
  }
}

/* Desktop - Large */
@media (min-width: 1200px) {
  body {
    display: none;
  }
}